<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% load static %}
        <link href="{% static 'tailwind.css'%}" rel="stylesheet">
        <link href="{% static 'custom.css'%}" rel="stylesheet">
        <title> Protech </title>
    </head>
    <body>
        <div class="bg-purple-100 min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center">
                <img src="{% static 'logo.png'%}" width="200px">
            </div>
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-lg font-semibold text-black w-full rounded-lg">
                    <h1 class="mb-8 text-3xl text-center text-gray-600">Sign in</h1>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <input 
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="username"
                            placeholder="Username" />

                        <input 
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="password"
                            placeholder="Password" />
                        <button
                            type="submit"
                            class="w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-indigo-800 focus:outline-none my-1"
                        >
                            Sign in
                        </button>
                    </form>
                    <div class="flex-1 flex flex-col text-gray-600 mt-1 text-center">
                        Don't have an account?   &nbsp;
                        <a class="underline text-blue-600" href="{% url 'register_page' %}">
                             Sign up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>