<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% load static %}
        <link href="{% static 'tailwind.css'%}" rel="stylesheet">
        <link href="{% static 'custom.css'%}" rel="stylesheet">
        <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
        <title> Protech </title>
    </head>
    <body>
        <div class="bg-purple-100 min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center">
                <img src="{% static 'logo.png'%}" width="250px">
            </div>
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-5 rounded shadow-lg font-semibold text-black w-full rounded-lg">
                    <h1 class="mb-6 text-3xl text-center text-gray-600">Sign up</h1>
                    <form action="{% url 'register' %}" method="post">
                        <div>{% url 'register' %}</div>
                        {% csrf_token %}
                        <div>{% csrf_token %}</div>
                        <input type="text" id="token">{% csrf_token %}</input>
                        <input 
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="username"
                            id="username"
                            placeholder="Username"
                        />
                        <input 
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="email"
                            id="email"
                            placeholder="Email"
                        />
                        <input 
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="password"
                            id="password"
                            placeholder="Password"
                        />
                        <input 
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="confirm_password"
                            id="confirm_password"
                            placeholder="Confirm Password"
                        />
                        
                        <span>Take a photo to authenticate yourself: </span>
                        <video id="webcam" autoplay playsinline width="640" height="480"></video>
                        <canvas id="canvas"></canvas>
                        <button
                            type="button"
                            onclick="snap()"
                            class="w-full text-center py-1 rounded bg-indigo-500 text-white hover:bg-indigo-800 focus:outline-none my-1"
                        >
                            Take photo
                        </button>
                        <input type="" id="user-image"  name="user-image" src="">
                        <br>
                        <hr>
                        <br>
                        <button
                            type="button"
                            onclick="sendData()"
                            class="w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-indigo-800 focus:outline-none my-1"
                        >
                            Create Account
                        </button>
                    </form>
                    <div class="flex-1 flex flex-col text-gray-600 mt-1 text-center">
                        Already have an account?  &nbsp;
                        <a class="underline text-blue-600" href="{% url 'login_page' %}">
                             Sign in
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </body>
    <script>
        // https://medium.com/swlh/how-to-access-webcam-and-take-picture-with-javascript-b9116a983d78
        const webcamElement = document.getElementById('webcam');
        const canvasElement = document.getElementById('canvas');
        canvasElement.style.display = "none";
        const imageInput = document.getElementById('user-image');
        
        const webcam = new Webcam(webcamElement, 'user', canvasElement);

        webcam.start()
        .then(result =>{
            console.log("webcam started");
        })
        .catch(err => {
            console.log(err);
        });

        let picture;

        function snap() {
            console.log("RRR")
            alert("Picture has been taken");
            picture = webcam.snap();
            webcamElement.style.display = "none";
            canvasElement.style.display = "block";
            imageInput.src = picture;
            console.log(typeof picture)
            console.log(picture)
            webcam.stop()
        }

        async function sendData(){
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirm_password = document.getElementById('confirm_password').value;
            const email = document.getElementById('email').value;
            const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            console.log(token);
            arr = [];
            arr.push(picture);
            json = null;

            data_json = {
                    'username': username,
                    'password': password,
                    'user-image': picture,
                    'confirm_password': confirm_password,
                    'email': email,
                }
            
            await fetch('http://localhost:8000/%2Fregister/', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": getCookie("csrftoken"),
                },
                credentials: 'same-origin',
                body: JSON.stringify(data_json)
            })
            .then((response) => response.json())
            .then((responseJSON) => {
                json = responseJSON;

                return json;
            }).catch(err =>{
                json = err;
                return json;
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;}
    </script>
</html>